<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.suyin.decorateuser.mapper.ExpDecorateUserMapper">

	<resultMap type="com.suyin.decorateuser.model.ExpDecorateUser" id="ExpDecorateUserMap">
	
		<result column="user_id" property="userId"/>
		<result column="openid" property="openid"/>
		<result column="use_openid" property="useOpenid"/>
		<result column="use_num" property="useNum"/>
		<result column="user_phone" property="userPhone"/>
		<result column="is_exp_user" property="isExpUser"/>
		<result column="is_exp_org" property="isExpOrg"/>
		<result column="nick_name" property="nickName"/>
		<result column="user_name" property="userName"/>
		<result column="user_state" property="userState"/>
		<result column="count_price" property="countPrice"/>
		<result column="balance_price" property="balancePrice"/>
		<result column="alipay_number" property="alipayNumber"/>
		<result column="password" property="password"/>
		<result column="head_img" property="headImg"/>
		<result column="uhead_img" property="uheadImg"/>		
		<result column="unick_name" property="unickName"/>
		<result column="is_sign" property="isSign"/>
		<result column="sleep_price" property="sleepPrice"/>
	
	</resultMap>
		<!--信息更新 -->
	<update id="updateExpDecorateUser"  parameterType="com.suyin.decorateuser.model.ExpDecorateUser">
		<![CDATA[
		update
		 	t_exp_decorate_user t
		set 
			t.is_sign=1
		where 
			t.user_id =#{userId}
		]]>
	</update>	
	
	<!-- 查询信息列表 -->
	<select id="findExpDecorateUser" parameterType="com.suyin.decorateuser.model.ExpDecorateUser" resultMap="ExpDecorateUserMap">
	   <![CDATA[
		SELECT
			t.*,
			tu.head_img as uhead_img,
			tu.nick_name as unick_name
		FROM
			t_exp_decorate_user t
		LEFT JOIN 
		  t_exp_decorate_user tu
		ON 
			t.use_openid=tu.openid
		WHERE
			1 = 1
		AND t.user_id =#{userId}
		]]>
	</select>
	
	<!-- 分页查询信息 -->
	<select id="findExpDecorateUserByPage" parameterType="com.suyin.decorateuser.model.ExpDecorateUser" resultMap="ExpDecorateUserMap">
		<![CDATA[
			SELECT
				*
			FROM
				t_exp_decorate_user t
			WHERE
				1 = 1
		]]>
		<if test="-1==saerchType and null!=text">
			AND
			t.user_phone like '%${text}%'
			OR
			t.nick_name like '%${text}%'
			OR
			t.user_name like '%${text}%'
		</if>
		<if test="null!=saerchType and 1==saerchType">
			<if test="null!=userPhone and ''!=userPhone">
			AND
			t.user_phone like '%${userPhone}%'
			</if>
			<if test="null!=nickName and ''!=nickName">
			AND 
			t.nick_name like '%${nickName}%'
			</if>
			<if test="null!=userName and ''!=userName">	
			AND 
			t.user_name like '%${userName}%'
			</if>
		</if>
	</select>
	
</mapper>	